# --- Core Frameworks ---
fastapi
uvicorn
gunicorn
streamlit
requests
python-dotenv

# --- Authentification & DB ---
pymongo
bcrypt
certifi
tomli
pydantic
email-validator
extra-streamlit-components

# --- AI & Vector Store ---
langchain
faiss-cpu
numpy

# --- Fournisseurs de modèles ---
langchain-mistralai
langchain-openai
langchain-google-genai
langchain-anthropic
langchain-groq